@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Arial";
}
h1,
h2,
.heading {
  font-family: "Cinzel Decorative";
}
.active-link {
  border-bottom: #d10580 2px solid;
  color: #d10580;
  transition: all ease 0.2s;
}
